header{
    height: 100px; 
    color: rgb(255, 255, 255);
    background-color: #5b46b9;
    padding: 10px;
    border-radius: 5px;
    font-family: Artifakt Element Heavy; 
    text-align: center; 
}
footer{
    height:100px;
    background-color: #341ba4;
    color: rgb(255, 255, 255);
    border: none;
    text-align: center; 
    font-size: 16px;
    padding: 10px;
    border-radius: 5px; 
    margin-top: 700px;
   

}

